*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: yekan;
    src: url(../font/yekan-font/yekan-regular.woff);
    src: url(../font/yekan-font/yekan-regular.ttf);
}
@font-face {
    font-family: vazir;
    src: url(../font/vazir-font-v18.0.0/Vazir-Bold.woff);
    src: url(../font/vazir-font-v18.0.0/Vazir-Bold.woff2);
}
body{
    font-family: yekan;
    padding: 20px;
    direction:rtl;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #f5f5f5;
}
h2{
    margin-bottom: 1rem;
}
button{
    background: greenyellow;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.491);
    cursor: pointer;
    transition: all 500ms;
    font-family: inherit;
    font-weight: bolder;
    border: none;
    margin: 10px;
}
button:hover{
    background-color: rgb(54, 92, 243);
}

table{
    opacity:0;
    background-color: #fff;
    width: 90%;
    box-shadow: 0 0 10px #ccc;
    transition: all 3s;
    border-collapse: collapse;
    margin: 20px auto;
}
th ,td {
    padding: 10px;
    border: 1px solid #ddd;
}

th{
    background-color: #4caf50;
    color: #fff;
}

td button:nth-child(1) { background: rgb(243, 54, 98);  }
td button:nth-child(2) { background: orange; margin-right: 5px; }

input{
    border: 1px solid rgb(170, 170, 170);
    outline: none;
    border-radius:5px;
    padding: 0.5rem;
    margin: 0.3rem;
}
